<ons-navigator var="myNavigator" ng-controller="ChatListController" ng-init="init()">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()">
          <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Chats</div>
      <div class="right">
        <ons-toolbar-button ng-click="$parent.showDialog('newchat.html')">
          <i class="fa fa-plus"></i>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div class="navigation-bar">
          <div class="navigation-bar__center">

            <!-- segment control -->
            <div class="button-bar" style="width:200px; margin:8px auto 0;">
              <div class="button-bar__item">
                <input type="radio" name="navi-segment-a" checked>
                <div class="button-bar__button">Discover</div>
              </div>
              <div class="button-bar__item">
                <input type="radio" name="navi-segment-a">
                <div class="button-bar__button">Joined</div>
              </div>
            </div>
          </div>
    </div>
    <div ng-show="scanning">
  	  <div ng-controller="RadarController" class="radar blink" data-ng-init="init()">
  		       <canvas id="canvas" width="140" height="140"></canvas>
  	  </div>
      <div class="scanning">
        <spam class="blink">Scanning...</spam>
      </div>
    </div>
    <ons-list class="chat-list" ng-hide="scanning">
          <ons-list-item class="chat-item" modifier="chevron" ng-repeat="chat in chats" ng-click="getMessages(chat.id)">
            <ons-row>
			  <ons-col align="center" class="" width="30px">
				  <div class="icon-status" ng-hide="chat.is_private">
					  <ons-icon icon="fa-globe" class="chat-icon"></ons-icon>
				  </div>
				  <div class="icon-status" ng-show="chat.is_private">
					  <ons-icon icon="fa-lock" class="chat-icon"></ons-icon>
				  </div>
			  </ons-col>
              <ons-col width="6px" class="chat-focus" style="backgroud: #3399ff;">
              </ons-col>
              <ons-col class="info-right">
                <div class="chat-name">{{chat.name}}</div>
                <div class="chat-info">
                    <spam class="info-with-icon"><ons-icon icon="ion-ios-people"></ons-icon>                                        {{chat.peopleactive}}
                    </spam>
                    <spam class="info-with-icon"><ons-icon icon="ion-chatbubbles"></ons-icon>
                        {{chat.messages_count}}</spam>
                </div>
              </ons-col>
              <ons-col width="50px" class="geo-distance chat-info" align="bottom">
				  <ons-icon icon="fa-map-marker"></ons-icon> {{chat.distance_in_meters}}m</spam>
			  </ons-col>
            </ons-row>
          </ons-list-item>
    </ons-list>
  </ons-page>
</ons-navigator>
<ons-template id="detail.html">
  <ons-page ng-controller="ChatController" page-scroll-glue="glued" scrolled="scrolled" ng-init="init()">
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Chat Messagges</div>
    </ons-toolbar>
    <ons-pull-hook ng-action="load_olds($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to fetch old messagges</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to get messages</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
    </ons-pull-hook>
    <ons-list class="timeline" modifier="inset">
      <ons-list-item class="timeline-li" ng-class="{'self': (msg.user.username == me.username)}" ng-repeat="msg in messages" >
        <ons-row id="{{'msg-' +$index}}">
          <ons-col width="50px">
            <img ng-show="{{msg.user.username != me.username}}" ng-src="images/avatar_2x.png" class="timeline-image"/>
          </ons-col>
          <ons-col>
            <div class="chat-bubble" ng-class="(msg.user.username != me.username) ? 'chat-bubble-left' : 'chat-bubble-right'">
              <div class="bubble-content" ng-class="(msg.user.username != me.username) ? 'bubble-content-left' : 'bubble-content-right'">
                <div ng-show="{{msg.user.username != me.username}}" class="timeline-from">
                  <span class="timeline-name"><b>{{msg.user.name}}</b></span>
                  <span class="timeline-id">@{{msg.user.username}}</span>
                </div>
                <div class="timeline-message" emojify-message>
                  {{msg.body}}
                </div>
                <div class="timeline-date" ng-class="{'timeline-date-self': (msg.user.username == me.username)}">
                  <span am-time-ago="{{ msg.create_date | asDate}}"></span></div>
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
    <ons-bottom-toolbar class="chat-footer">
        <ons-row align="center">
          <ons-col width="5px"><button ng-hide="true" class="button button--quiet"><ons-icon icon="fa-smile-o"></ons-icon></button></ons-col>
          <ons-col><div class="chat-message-area"><textarea ng-model="msgbody" ng-disabled="posting" class="textarea" placeholder=""></textarea></div></ons-col>
          <ons-col width="35px"><button class="button button--quiet" ng-disabled="posting || msgbody ===''" ng-click="PostMsg()"><ons-icon icon="fa-paper-plane" ></ons-icon></button></ons-col>
        </ons-row>
    </ons-bottom-toolbar>
  </ons-page>
</ons-template>
